/* Style for unordered list */
ul {
  list-style-type: square; /* Options: disc, circle, square, none */
  color: darkblue;
  font-weight: bold;
}

/* Style for ordered list */
ol {
  list-style-type: upper-roman; /* Options: decimal, lower-alpha, upper-alpha, lower-roman, upper-roman */
  color: darkgreen;
  font-style: italic;
}